.login_contrainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(246, 172, 246);
}
.login_field {
  display: flex;
  justify-content: center;
  width: 31%;
  background: #fff;
  height: 60%;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}
.login_field > input {
  padding: 6px 40px;
  font-size: 1.1rem;
}
.login_field > p {
  font-size: 0.9rem;
}
.continue_btn {
  padding: 10px 120px;
  color: #fff;
  background: orangered;
  text-decoration: none;
  font-size: 1.1rem;
}
.account_create_txt {
  color: orangered;
}
.radio_check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.radio_check > input {
  position: relative;
}
.side_text_of_radio {
  font-size: 0.9rem;
}
